# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Virtualenv
venv/
ENV/
.env/
.venv/

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Github Actions
.github/workflows/*.log

# Test
htmlcov/
.coverage
.tox/

# 기타
*.log
*.sqlite3 